*{
    padding: 0;
    margin: 0;
}  
body{
    background-image: url("image.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100% 100%;  

    /* background-position:fix;   */ 
    background-attachment: fixed;  
   font-family: cursive;
} 
.logo img{
    width: 7%; 
    border: 10px solid rgb(14, 151, 243); 
    border-radius: 70px;
} 
.navbar {
    display:flex; 
    background-color: black;
}   
.navlist{ 
    width: 100%; 
    margin-top: 1%; 
    /* background-color: blue; */
}
.navlist li{
    display: inline-block;  
    list-style: none; 
    margin-left: 5%;
}  
.navlist li a:hover{
    color: red;
}
.navlistitem li a{
text-decoration:  none; 
color: aliceblue;    
}   
.musicbox{
    margin-top: 5%;
    /* margin-left:40vw; */
} 
.musiclistitem li{
    list-style: none;    
    text-align: center; 
    margin-top: 2%;
}
.musiclistitem li a{
    text-decoration:  none; 
    font-size: 22px; 
    text-transform: uppercase; 
}   
.musiclistitem li a:hover{
color: red;
}
.musicboxbutton{ 
    margin-top: 0%;
    margin-left: 45%;
}
.musicboxbutton button{ 
width: 5%; 
height: 10%; 
border: 1px solid white; 
border-radius: 1000px;  
margin-left: 2%; 
margin-top: 4%;
}  
.musicboxbutton button:hover{
    background-color: black;
}
.musicboxbutton button img{
    width:60%;
} 
footer p{
    color: white; 
    margin-top: 5%; 
    text-align: center;
}  
footer p p{
    color:white;
}

